.todo-form {
  text-align: center;
  width: 500px;
  margin: 50px auto 0;
  border: 1px solid #999;
  padding-bottom: 10px;
}
.todo-form h3{
  margin: 0;
  padding: 10px 0;
  display: inline-block;
}
.material-icons.md-24 { font-size: 24px; }
.material-icons.orange600 { color: #FB8C00; }
.add {
  transform: translateY(6px);
  padding: 0 5px;
  color: #388E3C;
}
.add:hover {
  cursor: pointer;
}